.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  padding:0;
  margin:0;
}

a {
  text-decoration: none;}

li {list-style: none ;}

body {font-family: "Roboto", sans-serif;}

.global-header {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;}

.logo img {
  width: 50px;
  height: 50px;
   }

.sm-only {display: none;}


.gnb-list1 {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color:black;
}

.gnb-list1 li {
  margin-right: 20px;
  transition: 300ms;
  cursor: pointer;
  }
.gnb-list1 li :last-child {margin-right:0;}

.gnb-list1 li a:hover {color: dodgerblue}


.back-img {
  height: 800px;
  background-image: url(./assets/images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;}

.gnb-list2 {
  padding: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
}

.gnb-list2 li {margin-right: 20px;}

.gnb-list li a:hover {color: dodgerblue}

.burger-list {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  }

.burger {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 28%;
  box-shadow: 1px 1px 7px;
  text-align: center;
}

.burger img {
  width: 400px;
}

.last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
 
}

.last-section img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.last-section div {margin-right: 50px;}


.global-footer {
  margin-top: 50px;
  padding: 20px 30px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list2 {margin-left:-300px;}

.list3 {
  font-size: 30px;
}

/* search page */

.search{
  background-color: gray;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-200%);
}

.search.is-active {
  transform: translate(-50%, -50%);
}

.search-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.whitebox {
  width: 900px;
  height: 50px;
  background-color: #fff;
  color: gray;
  border-radius: 50px;
}

.yellowbox {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  background-color: yellow;
  color: black;
  border-radius: 50px;
 
}

.search-close-btn i {
  text-align: center;
  font-size: 30px;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  }


.sidebar {
  background-color: #fff;
  width: 300px;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-350px)
}

.sidebar.is-active {
  transform: translate(0)
}

.sidebar ul li {margin-bottom: 20px;
}

.sidebar-close-btn {
  text-align: right;
  font-size: 22px;
  cursor: pointer; }


  @media screen and (max-width: 1200px) {

    .burger-list{
      width: 90%;
    }

    .burger {
      width: 43%;
    }

    .burger img {
      width: 300px;
    }

  }



  @media screen and (max-width:768px) { 
    
    .sm-only {display: block;}
    .sm-hidden {display: none;}

    .sidebar-open-btn {
      font-size: 22px;
      cursor: pointer;
    }

    .burger-list {
      width: 90%;
      }
    
    .burger {
      width: 87$%;
    }
    
    .burger img {
      width: 100%;
    }

    }
    